@import '/styles/utils';

// Project Container
.ProjectContainer {
  padding-top: 6rem;
  position: relative;
  min-height: 100vh;
  overflow: scroll;
  scroll-snap-align: start;
  background-color: #{$white};
}

.ProjectListWrapper {
  padding: 0 1rem;
  background-color: green;
}

.ProjectItemWrapper {
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ProjectItemTitle {
  font-size: 6.5rem;
  text-transform: uppercase;
  letter-spacing: -0.125rem;
}