@import 'styles/utils';


.ImageBackground {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url('/assets/png/2.png');
  background-size: cover;
  z-index: -1;
}