* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #f1f1f1;
  position: fixed;
}

footer {
  position: absolute;
  bottom: 2vh;
  right: 2vw;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    li {
      display: inline;
      a {
        padding: 1vw;
        img {
          width: 4vh;
          height: 4vh;
        }
      }
    }
  }
}



.content {
  transform: translate3d(30vw, 0, 0);
  transition: transform 1s;
}

.content::after {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 28vw;
  transform: translate3d(-30vw, 0, 0);
  height: 1px;
  background: gray;
  transition: 5s;
}


#center {
  top: 50%;
  left: 50%;
  position: absolute;
  width: 1vw;
  height: 1vw;
  background-color: red;
  transform: translate(-50%, -50%);
}