body {
  position: fixed;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
}

Canvas {
  background-color: #f1f1f1;
  width: 100vw;
  height: 100vh;
}

.contact {
  position: absolute;
  width: 60vw;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: space-between;
  // justify-items: center;
  a {
    position: relative;
    width: 20vw;
    display: flex;
    justify-content: center;
    text-decoration: none;

    div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }

    span {
      font-family: Roboto;
      font-weight: 200;
      font-size: 1.25vw;
      color: black;
      text-transform: uppercase;
      letter-spacing: 0.7em;
      margin-right: -0.7em;
      opacity: 0;
    }

    @media screen and (max-width: 768px) {
      span {
        display: none;
      }
    }
    span:hover {
      opacity: 100;
    }
  }
}
