body {
  position: fixed;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
}

Canvas {
  background-color: #f1f1f1;
  width: 100vw;
  height: 100vh;

}

.navbar {
  .home_button {
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 40px;
  }
}

.contact {
  position: absolute;
  width: 60vw;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: space-between;
  // justify-items: center;
  a {
    position: relative;
    width: 20vw;
    display: flex;
    justify-content: center;
    text-decoration: none;

    div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }

    span {
      font-family: Roboto;
      font-weight: 200;
      font-size: 1.25vw;
      color: black;
      text-transform: uppercase;
      letter-spacing: 0.7em;
      margin-right: -0.7em;
      opacity: 0;
    }

    @media screen and (max-width: 768px) {
      span {
        display: none;
      }
    }
    span:hover {
      opacity: 100;
    }
  }
}



// Sample for responsive web

// /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .about_page {
    background-color: yellowgreen;
  }
}

// /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .about_page {
    background-color: yellow;
  }
}

// /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .about_page {
    background-color: coral;
  }
}

// /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .about_page {
    background-color: orange;
  }
}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .about_page {
    background-color: red;
  }
}